body {
  background: #fff;
}

.main_title h1 {
  font-size: 14px;
  font-weight: bold;
  border: 0;
  margin: 10px 0 0 0;
  color: #6f519b;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Tahoma, Geneva, sans-serif;
}

.footer {
  position: relative;
}

.footer-copyright {
  text-align: left;
  position: absolute;
  bottom: 5px;
  left: 70px;
  font-size: 10px;
}

.footer-copyright a {
  color: #000;
}

